<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1>Leases</h1>
			<% if @leases.any? %>
				<ul class="list-group rental-index">
					<% @leases.each do |l| %>
						<li><%= l.rental.address %> <%=l.rental.apartment%>: <%= l.start_date%> through <%= l.end_date %> </li>
					<% end %>
				</ul>
			<% else %>
				<p>Sorry.  No leases here!</p>
			<% end %>
			<p class="btn btn-default"><%= link_to "New Lease", new_lease_path %></p>
		</div>
		<div class="col-xs-1"></div>
	</div>
</div>
