<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1>New Lease</h1>

			<% if @lease.errors.any? %>
				<div>
				  <ul>
				    <% @lease.errors.full_messages.each do |e| %>
				      <li><%= e %></li>
				    <% end %>
			  	</ul>
			  </div>
			<% end %>

			<%= bootstrap_form_for @lease do |f| %>
				<div>
					<%= f.text_field :rent_amount %>
				</div>
				<div>
			  	<%= f.date_select(:start_date, :order => [:month, :day, :year]) %> 
				</div>
				<div>
					<%= f.date_select(:end_date, :order => [:month, :day, :year]) %>
				</div>	
				<div>
					<%= f.label :Rental %>
			    <%= select("lease", "rental_id", Rental.all.collect {|r| [ (r.address + " " + r.apartment), r.id ] }, {:include_blank => true}) %>
				</div>
				<div>
					<%= f.submit %>
				</div>
			<% end %>	
			</div>
		<div class="col-xs-1"></div>
	</div>
</div>	