<h1>Lease</h1>

<% if flash[:notice] %>
  <div class="flash notice">
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<p>Address: <%= @lease.rental.address %></p>
<p>Address2: <%= @lease.rental.apartment %></p>
<p>Monthly Rent: <%= @lease.rent_amount %></p>
<p>Start Date: <%= @lease.start_date %></p>
<p>End Date: <%= @lease.end_date %></p>

<p><%= link_to "Edit Lease", edit_lease_path(@lease) %></p>
<p><%= link_to "Rentals", :rentals %></p>
