<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-10">
			<h1>New Renter</h1>

			<% if @renter.errors.any? %>
				<div>
				  <ul>
				    <% @renter.errors.full_messages.each do |e| %>
				      <li><%= e %></li>
				    <% end %>
			  	</ul>
			  </div>
			<% end %>
			<%= form_for @renter do |f| %>
				<div class="form-group">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
				<div class="form-group">
					<%= f.label :phone %>
					<%= f.text_field :phone %>
				</div>
				<div class="form-group">
					<%= f.label :email %>
					<%= f.text_field :email %>
				</div>
				<div class="form-group">
					<%= f.label :rental  %>
			    <%= select("renter", "rental_id", Rental.all.collect {|r| [ (r.address + " " + r.apartment), r.id ] }, {:include_blank => true}) %>
				</div>
				<div>
					<%= f.submit %>
				</div>
			<% end %>
			</div>

		<div class="col-xs-1"></div>
	</div>
</div>	