<!DOCTYPE html>
<html>
<head>
  <title>RentR</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_user %>
		<p>Logged in as <%= current_user.email %></p>
		<p><%= link_to "logout", logout_path %></p>
	<% else %>
		<p>Logged out</p>
		<p><%= link_to "login", login_path %></p>
	<% end %>

<%= yield %>

</body>
</html>
