			<% if @rental.errors.any? %>
				<div>
				  <ul>
				    <% @rental.errors.full_messages.each do |e| %>
				      <li><%= e %></li>
				    <% end %>
			  	</ul>
			  </div>
			<% end %>

			<%= bootstrap_form_for @rental, html: {mulitpart: true} do |f| %>
				<div>
					<%= f.text_field :address %>
				</div>
				<div>
					<%= f.text_field :apartment, label: "Address2" %>
				</div>
				<div>
					<%= f.file_field :attachment, label: "Image" %>
				</div>							
				<div>
					<%= f.submit %>
				</div>
			<% end %>	